# 1. Create a list with integers from 1 to 10.

In [4]:
i=list(range(1,11))

In [8]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 2. Find the length of a list without using the `len()` function

In [9]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
'''adding 1 for onces place counting'''
length=l.index(l[-1])+1

In [6]:
length

10

# 3. Append an element to the end of a list.

In [7]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
l1=l.append(4)

In [9]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

# 4. Insert an element at a specific index in a list.

In [10]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [11]:
l.insert(0,11)

In [12]:
l

[11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

# 5. Remove an element from a list by its value.

In [13]:
l

[11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [14]:
l.remove(1)

In [15]:
l

[11, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

# 6. Remove an element from a list by its index.

In [16]:
l.pop(0)

11

In [17]:
l

[2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

# 7. Check if an element exists in a list.

In [18]:
l

[2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [19]:
e=0

In [20]:
e1=bool(l.count(e))

In [21]:
e1

False

# 9. Count the occurrences of an element in a list.

In [22]:
l

[2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [23]:
e=10

In [24]:
e1=l.count(e)

In [25]:
e1

1

# 10. Reverse the order of elements in a list.

In [26]:
l

[2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [27]:
l.reverse()

In [28]:
l

[4, 10, 9, 8, 7, 6, 5, 4, 3, 2]

# 11. Sort a list in ascending order.

In [29]:
l

[4, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [30]:
l.sort()

In [31]:
l

[2, 3, 4, 4, 5, 6, 7, 8, 9, 10]

# 12. Sort a list in descending order.

In [32]:
l

[2, 3, 4, 4, 5, 6, 7, 8, 9, 10]

In [33]:
l.sort()

In [34]:
l[::-1]

[10, 9, 8, 7, 6, 5, 4, 4, 3, 2]

# 13. Create a list of even numbers from 1 to 20.

In [35]:
e=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [36]:
e[1::2]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# 14. Create a list of odd numbers from 1 to 20.

In [37]:
e

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [38]:
e[::2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# 15. Find the sum of all elements in a list.

In [39]:
e

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [41]:
e1=sum(e)

In [42]:
e1

210

# 16. Find the maximum value in a list.

In [43]:
e

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [44]:
m=max(e)

In [45]:
m

20

# 17. Find the minimum value in a list.

In [46]:
e

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [47]:
mi=min(e)

In [48]:
mi

1

# 18. Create a list of squares of numbers from 1 to 10.

In [1]:
l=[1,2,3,4,5,6,7,8,9,10]

In [10]:
l1=[]
for i in l:
    b=i**2
    l1.append(b)
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 19. Create a list of random numbers.

In [2]:
l=[2,6,3,6,2,7,7,9,3,6,8,3,2]

# 20. Remove duplicates from a list.

In [5]:
l=[2,6,3,6,2,7,7,9,3,6,8,3,2]

list(set(l))

[2, 3, 6, 7, 8, 9]

# 21. Find the common elements between two lists.

In [12]:
l1=[2,6,3,6,2,7,7,9,3,6,8,3,2]
l2=[1,2,3,4,15,22]
l3=[]
for i in set(l1):
    if i in set(l2):
        l3.append(i)
print(l3)

[2, 3]

# 22. Find the difference between two lists.

In [29]:
a=[2,6,3,6,2,7,7,9,3,6,8,3,2]
b=[1,2,3,4,15,22]
c=[]
d=a+b
for i in set(d):
    if i not in set(a) or i not in set(b):
        c.append(i)
print(c)

[1, 4, 6, 7, 8, 9, 15, 22]

# 23. Merge two lists.

In [30]:
a=[2,6,3,6,2,7,7,9,3,6,8,3,2]
b=[1,2,3,4,15,22]

print(a+b)

[2, 6, 3, 6, 2, 7, 7, 9, 3, 6, 8, 3, 2, 1, 2, 3, 4, 15, 22]

# 24. Multiply all elements in a list by 2.

In [37]:
l=[1,2,3,4,15,22]

list(map(lambda a:a*2,l))

[2, 4, 6, 8, 30, 44]

# 25. Filter out all even numbers from a list.

In [40]:
l=[2,6,3,6,2,7,7,9,3,6,8,3,2]
l1=[]
for i in l:
    if i%2==0:
        l1.append(i)
print(l1)

[2, 6, 6, 2, 6, 8, 2]

In [41]:
l=[2,6,3,6,2,7,7,9,3,6,8,3,2]

[i for i in l if i%2==0]

[2, 6, 6, 2, 6, 8, 2]

# 26. Convert a list of strings to a list of integers.

In [11]:
l=['1','2','3','4']
l1=[]

for i in l:
    l1.append(int(i))
print(l1)

[1, 2, 3, 4]

# 27.Convert a list of integers to a list of strings.

In [12]:
l=[1, 2, 3, 4]
l1=[]
for i in l:
    l1.append(str(i))
print(l1)

['1', '2', '3', '4']

# 28. Flatten a nested list.

In [24]:
l=[[1,2,3,4],5,6,7,[8,9,10]]
l1=[]
l2=[]

for i in l:
    if type(i)==list:
        for j in i:
            l1.append(j)
    else:
        l2.append(i)
print(l1+l2)

[1, 2, 3, 4, 8, 9, 10, 5, 6, 7]

# 29. Create a list of the first 10 Fibonacci numbers.

In [17]:
a=[0,1]
for i in range(2,11):
    c=a[i-1]+a[i-2]
    a.append(c)
print(a)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

# 30. Check if a list is sorted.

In [76]:
l1=[2,3,4,6,5]


def is_sorted(a):
    a=len(l)
    for i in range(1,a):
        l[i]<l[i-1] 
        return False
    return True

is_sorted(l1)

False

# 31. Rotate a list to the left by `n` positions.

In [2]:
l=[2,3,4,6,5]
l1=[]
for i in range(0,len(l)):
    l1.append(l[i-1])
print(l1)

[5, 2, 3, 4, 6]

# 32. Rotate a list to the right by `n` positions.

In [7]:
l=[2,3,4,6,5]
l1=[]

for i in range(0,len(l)):
               l1.append(l[i-(len(l)-1)])
print(l1)

[3, 4, 6, 5, 2]

# 33. Create a list of prime numbers up to 50.

In [27]:
p=[]
for i in range (1,51):
    for j in range (2,i):
        if i%j==0:
            break
        else:
            p.append(i)
print(set(p+[2]))

{2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49}

# 34. Split a list into chunks of size `n`.

In [32]:
a=[1,2,4,5,6,8,9,0]
n=3

for i in range(0,len(a),n):
    print(a[i:i+n])

[1, 2, 4]
[5, 6, 8]
[9, 0]

# 35. Find the second largest number in a list.

In [32]:
a=[1,2,4,5,6,8,9,0]
b=list(set(a))

b.sort()
b[-2]

8

# 36. Replace every element in a list with its square.

In [37]:
l=[1,2,4,5,6,8,9,0]

list(map(lambda a:a**2,l))

[1, 4, 16, 25, 36, 64, 81, 0]

# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [22]:
l=[1,2,4,5,6,8,9,0]
d={}
for i in range(0,len(l)):
    d[l[i]]=i
print(d)

{1: 0, 2: 1, 4: 2, 5: 3, 6: 4, 8: 5, 9: 6, 0: 7}

# 38. Shuffle the elements of a list randomly.

In [25]:
import random
l=[1,2,4,5,6,8,9,0]

random.shuffle(l)
print(l)

[5, 8, 1, 9, 0, 6, 2, 4]

# 39. Create a list of the first 10 factorial numbers.

In [5]:
f1=[]
for i in range(1, 11):
    f = 1
    for j in range(1, i + 1):
        f*= j
    f1.append(f)

print(f1)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

# 40. Check if two lists have at least one element in common.

In [29]:
l1=[1,2,4,5,6,8,9,0]
l2=[2,3,4,6,5]
l3=[]

for i in l1:
    for j in l2:
        if i==j:
            l3.append(i)
print(l3)

[2, 4, 5, 6]

# 41. Remove all elements from a list.

In [31]:
l1=[1,2,4,5,6,8,9,0]

l1.clear()

print(l1)

[]

# 42. Replace negative numbers in a list with 0.

In [31]:
l1=[1,2,-4,5,-6,8,9,0]
l2=[]

for i in l1:
    if i>=0:
        l2.append(i)
    else:
        l2.append(0)
print(l2)

[1, 2, 0, 5, 0, 8, 9, 0]

# 43. Convert a string into a list of words.

In [43]:
a='we are learning python in pwskills'

a.rsplit(' ')

['we', 'are', 'learning', 'python', 'in', 'pwskills']

# 44. Convert a list of words into a string.

In [40]:
a=['we', 'are', 'learning', 'python', 'in', 'pwskills']

' '.join(a)

'we are learning python in pwskills'

# 45. Create a list of the first `n` powers of 2.

In [6]:
n=10
a=[]
for i in range(1,n):
    b=2**i
    a.append(b)
print(a)

[2, 4, 8, 16, 32, 64, 128, 256, 512]

# 46. Find the longest string in a list of strings.

In [17]:
l=['we', 'are', 'learning', 'python', 'in', 'pwskills']

longest_str=max(l,key=len)
print(longest_str)

learning

# 47. Find the shortest string in a list of strings.

In [18]:
l=['we', 'learn', 'python', 'in', 'pwskills']

shortest_str=min(l,key=len)
print(shortest_str)

we

# 48. Create a list of the first `n` triangular numbers.

In [7]:
n=10
a=[]
for i in range(1,n):
    b=3**i
    a.append(b)
print(a)

[3, 9, 27, 81, 243, 729, 2187, 6561, 19683]

# 49. Check if a list contains another list as a subsequence.

In [40]:
l1=[1,2,4,5,6,8,9,0]
l2=[6,8]
b=[]

for i in l2:
    for j in l1:
        if i==j:
            b.append(i)
print(b==l2)

True

# 50. Swap two elements in a list by their indices.

In [2]:
l1=[1,2,4,5,6,8,9,0]


def swap_ele(l,a,b):
    l[a],l[b]=l[b],l[a]
    return l

swap_ele(l1,0,7)

[0, 2, 4, 5, 6, 8, 9, 1]