# 1. Create a set with integers from 1 to 5.

In [1]:
x=set(range(1,6))

In [2]:
x

{1, 2, 3, 4, 5}

In [87]:
type(x)

set

# 2. Add an element to a set.

In [3]:
x

{1, 2, 3, 4, 5}

In [4]:
x.add('pwskills')

In [5]:
x

{1, 2, 3, 4, 5, 'pwskills'}

# 3. Remove an element from a set.

In [6]:
x

{1, 2, 3, 4, 5, 'pwskills'}

In [7]:
x.pop()

1

In [8]:
x

{2, 3, 4, 5, 'pwskills'}

# 4. Check if an element exists in a set.

In [9]:
x

{2, 3, 4, 5, 'pwskills'}

In [10]:
y=2

In [11]:
if y in (x):
    print('available')
else :
    print('not available')

available

# 5. Find the length of a set without using the `len()` function.

In [12]:
x

{2, 3, 4, 5, 'pwskills'}

In [13]:
y=list(x)

In [14]:
y

[2, 3, 4, 5, 'pwskills']

In [15]:
z=y.index(y[-1])

In [16]:
z

4

# 6. Clear all elements from a set.

In [17]:
x

{2, 3, 4, 5, 'pwskills'}

In [18]:
x.clear()

In [19]:
x

set()

# 7. Create a set of even numbers from 1 to 10.

In [20]:
x=set(range(1,11))

In [21]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# 8. Create a set of odd numbers from 1 to 10.

In [22]:
y=set(range(2,11,2))

In [23]:
y

{2, 4, 6, 8, 10}

# 9. Find the union of two sets.

In [24]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [25]:
z={'x','y','z'}

In [26]:
x.union(x,z)

{1, 10, 2, 3, 4, 5, 6, 7, 8, 9, 'x', 'y', 'z'}

# 10. Find the intersection of two sets.

In [27]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [28]:
y

{2, 4, 6, 8, 10}

In [29]:
x.intersection(x,y)

{2, 4, 6, 8, 10}

# 11. Find the difference between two sets.

In [30]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [31]:
y

{2, 4, 6, 8, 10}

In [36]:
z=x-y

In [37]:
z

{1, 3, 5, 7, 9}

# 12. Check if a set is a subset of another set.

In [38]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
y

{2, 4, 6, 8, 10}

In [44]:
y.issubset(x)

True

# 13. Check if a set is a superset of another set.

In [45]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [46]:
y

{2, 4, 6, 8, 10}

In [49]:
x.issuperset(y)

True

# 14. Create a set from a list.

In [50]:
l=list(range(1,10))

In [51]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
s=set(l)

In [53]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# 15. Convert a set to a list.

In [55]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [56]:
l=list(x)

In [57]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 16. Remove a random element from a set.

In [58]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [59]:
x.pop()

1

In [60]:
x

{2, 3, 4, 5, 6, 7, 8, 9, 10}

# 17. Pop an element from a set.

In [61]:
x

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [63]:
x.pop()

2

In [64]:
x

{3, 4, 5, 6, 7, 8, 9, 10}

# 18. Check if two sets have no elements in common.

In [65]:
x

{3, 4, 5, 6, 7, 8, 9, 10}

In [66]:
y

{2, 4, 6, 8, 10}

In [69]:
x.isdisjoint(y)

False

# 19. Find the symmetric difference between two sets

In [70]:
x

{3, 4, 5, 6, 7, 8, 9, 10}

In [71]:
y

{2, 4, 6, 8, 10}

In [76]:
x.symmetric_difference(y)

{2, 3, 5, 7, 9}

# 20. Update a set with elements from another set.

In [77]:
x

{3, 4, 5, 6, 7, 8, 9, 10}

In [78]:
y

{2, 4, 6, 8, 10}

In [79]:
x.update(y)

In [80]:
x

{2, 3, 4, 5, 6, 7, 8, 9, 10}

# 21. Create a set of the first 5 prime numbers.

In [82]:
p={2,3,5,7,11}

# 22. Check if two sets are identical.

In [83]:
x

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [84]:
y

{2, 4, 6, 8, 10}

In [86]:
if x==y:
    print('identical')
else:
    print('not identical')

not identical

# 23. Create a frozen set.

In [95]:
f=frozenset([1,2,3,4,5])

In [98]:
f

frozenset({1, 2, 3, 4, 5})

# 24. Check if a set is disjoint with another set.

In [99]:
x

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [100]:
y

{2, 4, 6, 8, 10}

In [102]:
x.isdisjoint(y)

False

# 25. Create a set of squares of numbers from 1 to 5.

In [114]:
y={x**2 for x in range(1,6)}

In [115]:
y

{1, 4, 9, 16, 25}

# 26. Filter out all even numbers from a set.

In [10]:
y={1, 4, 9, 16, 25}

In [11]:
{i for i in y if i%2==0}

{4, 16}

# 27. Sort the elements of a tuple.

In [16]:
a={'pwskills',1,2,3,1.32,'python'}
d1=[]
d2=[]
d3=[]
for i in a:
    if type(i)==int:
        d1.append(i)
    elif type(i)==str:
        d2.append(i)
    elif type(i)==float:
        d3.append(i)
print(d1)
print(d2)
print(d3)

[1, 2, 3]
['pwskills', 'python']
[1.32]

# 28. Convert a tuple of integers to a tuple of strings

In [21]:
a={2, 3, 4, 5, 6, 7, 8, 9, 10}
b=[]
for i in a:
    if type(i)==int:
        b.append(str(i))
print(set(b))

{'9', '7', '3', '5', '2', '8', '4', '6', '10'}

In [25]:
a={2, 3, 4, 5, 6, 7, 8, 9, 10}

{str(i) for i in a if type(i) ==int}

{'10', '2', '3', '4', '5', '6', '7', '8', '9'}

# 29. Check if a set is empty.

In [1]:
a={2, 3, 4, 5, 6, 7, 8, 9, 10}

if a=={}:
    print('empty list')
else:
    print('not empty list')

not empty list

# 30. Create a nested set (hint: use frozenset).

In [6]:
a=frozenset([2, 3, 4, 5, 6, 7, 8, 9, 10])
b=frozenset([2, 3, 4, 5, 6, 7])

c=frozenset([a,b])
print(c)

frozenset({frozenset({2, 3, 4, 5, 6, 7, 8, 9, 10}), frozenset({2, 3, 4, 5, 6, 7})})

# 31. Remove an element from a set using the discard method.

In [8]:
a={2, 3, 4, 5, 6, 7, 8, 9, 10}

a.discard(3)
print(a)

{2, 4, 5, 6, 7, 8, 9, 10}

# 32. Compare two sets.

In [10]:
a={2, 3, 4, 5, 6, 7, 8, 9, 10}
b={2,3,4}

a==b

False

# 33. Create a set from a string.

In [22]:
s='pwskills'

set(s)

{'i', 'k', 'l', 'p', 's', 'w'}

# 34. Convert a set of strings to a set of integers.

In [28]:
a={'2', '3', '4', '5', '6', '7', '8', '9', '1'}
b=[]

for i in a:
    b.append(int(i))
print(set(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# 35. Convert a set of integers to a set of strings.

In [32]:
a={2, 3, 4, 5, 6, 7, 8, 9, 10}
b=[]

for i in a:
    b.append(str(i))
print(set(b))

{'5', '4', '8', '2', '7', '10', '6', '9', '3'}

# 36. Create a set from a tuple.

In [33]:
a=(2, 3, 4, 5, 6, 7, 8, 9, 10)

b=set(a)
print(b)

{2, 3, 4, 5, 6, 7, 8, 9, 10}

# 37. Convert a set to a tuple.

In [34]:
a={2, 3, 4, 5, 6, 7, 8, 9, 10}

b=tuple(a)
print(b)

(2, 3, 4, 5, 6, 7, 8, 9, 10)

# 38. Find the maximum value in a set.

In [35]:
a={2, 3, 4, 5, 6, 7, 8, 9, 10}

max(a)

10

# 39. Find the minimum value in a set.

In [36]:
a={2, 3, 4, 5, 6, 7, 8, 9, 10}

min(a)

2

# 40. Create a set from user input.

In [40]:
a=input('enter input')

b=set(a)
print(b)
type(b)

enter input 8

{'8'}

set

# 41. Check if the intersection of two sets is empty.

In [45]:
a = {1, 2, 3, 4, 5}
b = {6, 7, 8}

if not a.intersection(b):
    print("The intersection is empty.")
else:
    print("The intersection is not empty.")

The intersection is empty.

# 42. Create a set of the first 5 Fibonacci numbers.

In [65]:
n=6
c=[]
a,b=0,1

for i in range(n):
    c.append(a)
    a,b=b,a+b
print(set(c))

{0, 1, 2, 3, 5}

# 43. Remove duplicates from a list using sets.

In [66]:
a=[2, 3, 4, 5, 6, 7, 8, 9, 10,1,2,4,6,79,0,0,7]
set(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 79}

# 44. Check if two sets have the same elements, regardless of their count.

In [89]:
a = {1, 2, 3, 4, 5}
b = {1 ,2, 3}

if b<=a:
    print('element present')
else:
    print('elements not present')

element present

# 45. Create a set of the first `n` powers of 2.

In [92]:
n=10
a=[]
for i in range(1,n):
    b=2**i
    a.append(b)
print(set(a))

{32, 64, 2, 128, 4, 256, 512, 8, 16}

# 46. Find the common elements between a set and a list.

In [96]:
a = {1, 2, 3, 4, 5}
b = [1 ,2, 3, 6, 7]
c=[]
for i in b:
    for j in a:
        if i==j:
            c.append(i)
print(c)

[1, 2, 3]

# 47. Create a set of the first `n` triangular numbers.

In [93]:
n=10
a=[]
for i in range(1,n):
    b=3**i
    a.append(b)
print(set(a))

{6561, 3, 19683, 9, 2187, 81, 243, 729, 27}

# 48. Check if a set contains another set as a subset.

In [108]:
a = {1, 2, 3, 4, 5}
b = {1 ,2, 3}

if b<=a:
    print('subset')
else:
    print('not subset')

subset

# 49. Create a set of alternating 1s and 0s of length `n`.

In [111]:
n=10
a=[]

for i in range(n):
    if i%2==0:
        a.append(1)
    else:
        a.append(0)
print(set(a))

{0, 1}

# 50. Merge multiple sets into one.

In [114]:
a = {1, 2, 3, 4, 5}
b = {6 ,7, 8}
c=set(list(a)+list(b))
print(c)

{1, 2, 3, 4, 5, 6, 7, 8}