# 1. Create a tuple with integers from 1 to 5.

In [1]:
t=(1,2,3,4,5)

In [2]:
type(t)

tuple

# 2. Access the third element of a tuple.

In [3]:
t

(1, 2, 3, 4, 5)

In [4]:
t[2]

3

# 3. Find the length of a tuple without using the `len()` function

In [5]:
t

(1, 2, 3, 4, 5)

In [6]:
'''1 added once place counting'''
length=t.index(t[-1])+1

In [7]:
length

5

# 4. Count the occurrences of an element in a tuple.

In [8]:
t

(1, 2, 3, 4, 5)

In [9]:
c=t.count(5)

In [10]:
c

1

# 5. Find the index of the first occurrence of an element in a tuple.

In [11]:
t

(1, 2, 3, 4, 5)

In [12]:
i=t.index(5)

In [13]:
i

4

# 6. Check if an element exists in a tuple.

In [14]:
t

(1, 2, 3, 4, 5)

In [15]:
f=bool(t.count(6))

In [16]:
f

False

# 7. Convert a tuple to a list.

In [17]:
t

(1, 2, 3, 4, 5)

In [18]:
l=list(t)

In [19]:
l

[1, 2, 3, 4, 5]

# 8. Convert a list to a tuple.

In [20]:
l

[1, 2, 3, 4, 5]

In [21]:
tuple(l)

(1, 2, 3, 4, 5)

# 9. Unpack the elements of a tuple into variables.

In [22]:
t

(1, 2, 3, 4, 5)

In [23]:
t[0]

1

# 10. Create a tuple of even numbers from 1 to 10.

In [24]:
t1=(1,2,3,4,5,6,7,8,9,10)

In [49]:
t1[1::2]

(2, 4, 6, 8, 10)

# 11. Create a tuple of odd numbers from 1 to 10.

In [28]:
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [50]:
t1[0::2]

(1, 3, 5, 7, 9)

# 12. Concatenate two tuples.

In [45]:
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [46]:
t

(1, 2, 3, 4, 5)

In [47]:
t+t1

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# 13. Repeat a tuple three times.

In [51]:
t

(1, 2, 3, 4, 5)

In [52]:
t*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

# 14. Check if a tuple is empty.

In [93]:
t5=()

In [94]:
bool(len(t5))

False

# 15. Create a nested tuple.

In [95]:
nt=(1,2,(3,4),5,6,7,(8,9),10)

In [96]:
nt

(1, 2, (3, 4), 5, 6, 7, (8, 9), 10)

# 16. Access the first element of a nested tuple.

In [97]:
nt

(1, 2, (3, 4), 5, 6, 7, (8, 9), 10)

In [99]:
nt[0]

1

# 17. Create a tuple with a single element.

In [105]:
ts=(1,)

In [106]:
ts

(1,)

# 18. Compare two tuples.

In [48]:
a='pwskills'
b='pwskills'
if a==b:
    print('true')
else:
    print('false')

true

# 19. Delete a tuple.

In [107]:
t

(1, 2, 3, 4, 5)

In [108]:
del(t)

In [109]:
t

NameError: name 't' is not defined

# 20. Slice a tuple.

In [110]:
t2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [114]:
t2[0:5]

(1, 2, 3, 4, 5)

# 21. Find the maximum value in a tuple.

In [115]:
t2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# 22. Find the minimum value in a tuple.

In [116]:
t2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# 23. Convert a string to a tuple of characters.

In [2]:
s='pwskills'

In [7]:
l=tuple(s)

In [8]:
l

('p', 'w', 's', 'k', 'i', 'l', 'l', 's')

# 24. Convert a tuple of characters to a string.

In [24]:
a=('p', 'w', 's', 'k', 'i', 'l', 'l', 's')

''.join(a)

'pwskills'

# 25. Create a tuple from multiple data types.

In [25]:
a=('pwskills',1,2,3,4,5,True,2.54)

In [26]:
type(a)

tuple

# 26. Check if two tuples are identical.

In [35]:
a=('pwskills')
b=('kills')

In [36]:
if a==b:
    print('true')
else:
    print('false')

false

# 27. Sort the elements of a tuple.

In [47]:
a=('pwskills',1,2,3,4,5)
b=[]
c=[]
for i in a:
    if type(i)==int:
        b.append(i)
    elif type(i)==str:
        c.append(i)
print(b)
print(c)

[1, 2, 3, 4, 5]
['pwskills']

# 28. Convert a tuple of integers to a tuple of strings.

In [55]:
a=(1, 2, 3, 4, 5)
b=[]

for i in a:
    b.append(str(i))
print(tuple(b))

('1', '2', '3', '4', '5')

# 29. Convert a tuple of strings to a tuple of integers.

In [58]:
a=('1', '2', '3', '4', '5')
b=[]

for i in a :
    b.append(int(i))
print(tuple(b))

(1, 2, 3, 4, 5)

# 30. Merge two tuples.

In [62]:
a=(1, 2, 3, 4, 5)
b=('pwskills','pw')

a+b

(1, 2, 3, 4, 5, 'pwskills', 'pw')

# 31. Flatten a nested tuple.

In [3]:
t=((1,2,3,4,5))
t1=[]

for i in t:
    t1.append(i)
print(tuple(t1))

(1, 2, 3, 4, 5)

# 32. Create a tuple of the first 5 prime numbers.

In [4]:
a=range(0,6)

# 33. Check if a tuple is a palindrome.

In [4]:
a=(1,2,1)

if list(a)==list(a[::-1]):
    print('palindrome')
else :
    print('not palindrome')

palindrome

# 34. Create a tuple of squares of numbers from 1 to 5.

In [9]:
a=range(1,6)

tuple(map(lambda i:i**2,a))

(1, 4, 9, 16, 25)

# 35. Filter out all even numbers from a tuple.

In [2]:
a=range(1,11)

tuple(filter(lambda i:i%2==0,a))

(2, 4, 6, 8, 10)

# 36. Multiply all elements in a tuple by 2.

In [6]:
a=range(1,11)

tuple(map(lambda i:i*2,a))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

# 37. Create a tuple of random numbers.

In [4]:
a=(1,2,4,6,88,3,6,3,6)

# 38. Check if a tuple is sorted.

In [32]:
def is_sorted(a):
    for i in range(len(a)-1):
        if a[i]>a[(i+1)]:
            return False
    return True

In [33]:
l=(1,2,4,2,5,88,4,65,3,5,7,3,4)

is_sorted(l)

False

In [34]:
l1=(1,2,3,4,5,6,7,8,9)

is_sorted(l1)

True

# 39. Rotate a tuple to the left by `n` positions.

In [19]:
l=(1,2,3,4,5,6,7,8,9)
n=int(input('enter left rotating position'))
l1=list(l)

if n<0 and n>len(l):
    print('position out of range')
else:
    print(tuple(l1[n::]+l1[0:n-1]))

enter left rotating position 5

(6, 7, 8, 9, 1, 2, 3, 4)

# 40. Rotate a tuple to the right by `n` positions.

In [27]:
l=(1,2,3,4,5,6,7,8,9)
n=int(input('enter rotating position'))
l1=list(l)

if n<0 and n>len(l):
    print('position out of range')
else:
    print(tuple(l1[-n+1::]+l1[0:n]))

enter rotating position 5

(6, 7, 8, 9, 1, 2, 3, 4, 5)

# 41. Create a tuple of the first 5 Fibonacci numbers.

In [46]:
a=0
b=1
c=[0]
for i in range(5):
    a,b=b,a+b
    c.append(a)
print(tuple(c))

(0, 1, 1, 2, 3, 5)

# 42. Create a tuple from user input.

In [68]:
n = input("Enter values: ")
l = n.split()
t = tuple(n)
print("Tuple created from user input:", t)

Enter values:  pwskills

Tuple created from user input: ('p', 'w', 's', 'k', 'i', 'l', 'l', 's')

# 43. Swap two elements in a tuple.

In [28]:
n=('p', 'w', 's', 'k', 'i', 'l', 'l', 's')
n1=list(n)
n2=[]
s1=input('enter 1st element want to swap')
s2=input('enter 2nd element want to swap with')

for i in n1:
    if s1 in n1 and s2 in n1:
        if i==s1:
            n2.append(s2)
        elif i==s2:
            n2.append(s1)
        else:
            n2.append(i)
    else:
        print('not')
print(n2)

enter 1st element want to swap p
enter 2nd element want to swap with w

['w', 'p', 's', 'k', 'i', 'l', 'l', 's']

# 44. Reverse the elements of a tuple.

In [1]:
n=('p', 'w', 's', 'k', 'i', 'l', 'l', 's')

n[::-1]

('s', 'l', 'l', 'i', 'k', 's', 'w', 'p')

# 45. Create a tuple of the first `n` powers of 2.

In [3]:
n=10
a=[]
for i in range(1,n):
    b=2**i
    a.append(b)
print(tuple(a))

(2, 4, 8, 16, 32, 64, 128, 256, 512)

# 46. Find the longest string in a tuple of strings.

In [4]:
l=('we', 'are', 'learning', 'python', 'in', 'pwskills')

longest_str=max(l,key=len)
print(longest_str)

learning

# 47. Find the shortest string in a tuple of strings.

In [7]:
l=('we', 'learn', 'python', 'in', 'pwskills')

shortest_str=min(l,key=len)
print(shortest_str)

we

# 48. Create a tuple of the first `n` triangular numbers.

In [6]:
n=10
a=[]
for i in range(1,n):
    b=3**i
    a.append(b)
print(tuple(a))

(3, 9, 27, 81, 243, 729, 2187, 6561, 19683)

# 49. Check if a tuple contains another tuple as a subsequence.

In [9]:
l1=(1,2,4,5,6,8,9,0)
l2=(6,8)
b=[]

for i in l2:
    for j in l1:
        if i==j:
            b.append(i)
print(tuple(b)==l2)

True

# 50. Create a tuple of alternating 1s and 0s of length `n`.

In [21]:
a=int(input('enter number to create 1s and 0s tuple'))
b=[]
for i in range(5):
    if i%2==0:
        b.append(0)
    else:
        b.append(1)
print(tuple(b))

enter number to create 1s and 0s tuple 5

(0, 1, 0, 1, 0)